
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<link href="~/css/theme.css" rel="stylesheet" />*@
    @*<link href="~/wwwroot/css/site.css" rel="stylesheet" />*@
    @*<script src="~/lib/bootstrap/dist/js/popper.min.js"></script>*@
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>



    <link href="~/css/leaflet.css" rel="stylesheet" />

    <script src="~/lib/libs/leaflet.js"></script>
    <script src="~/lib/libs/esri-leaflet.js"></script>
    <script src="~/lib/libs/Leaflet.NavBar.js"></script>


    <style>
        #myTable {
            z-index: 10000000;
            position: absolute;
            bottom: 0px;
            font-size: 13px;
            width: 90%;
            right: 0px;
        }

        .ui-jqgrid {
            float: right;
            text-align: center;
        }

        .ui-jqgrid-resize {
            display: none;
        }

        th .ui-jqgrid-sortable {
            padding: 8px;
        }

        table {
            float: right;
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
            direction: rtl;
        }
        /*.ui-jqgrid .ui-jqgrid-htable th div {
            text-align: center;
        }
        .ui-jqgrid tr.ui-row-rtl td {
            text-align: center;
        }
        .ui-state-default, .ui-widget-content .ui-state-default {
            color: #f308e8 !important;
        }*/
        thead {
            color: #f308e8;
        }

        #mapCol, html, body {
            height: 100%;
            width: 100%;
        }


        #overlay {
            visibility: hidden;
            position: absolute;
            left: -107px;
            top: 0px;
            /*width:300%;
        height:200%;*/
            text-align: center;
            z-index: 1000;
            top: 118px;
        }

        #closeOverlay {
            width: 14px;
            float: right;
            margin-left: 10px;
        }

        tr:nth-child(even) {
            background: #CCC
        }

        tr:nth-child(odd) {
            background: #FFF
        }

        #overlay div {
            width: 293px;
            /*margin: 100px auto;*/
            background-color: #fff;
            border: 1px solid #000;
            padding: 15px;
            text-align: center;
            overflow-y: scroll;
            height: 100%;
            float: right;
            max-height: 406px;
        }

        #divSearchItems {
            margin-top: -11px !important;
        }


        #mymap {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            height: 100%;
        }

        /* Icons from Font-Awesome  | Font Awesome by Dave Gandy - http://fontawesome.io*/
        /* Thanks to http://fa2png.io/ for icon png generation */

        .leaflet-control-navbar-fwd {
            background-image: url("/image/leafleet/arrow-right_000000_14.png");
        }

        .leaflet-control-navbar-tile {
            background-image: url('/image/leafleet/tile.png'); /*background-image: url("../../../../images/Leafleet/arrow-left_000000_14.png");*/
        }

        .leaflet-control-navbar-identify {
            background-image: url('/image/leafleet/arrow-right_000000_14.png'); /*background-image: url("../../../../images/Leafleet/arrow-left_000000_14.png");*/
        }

        .leaflet-control-navbar-back {
            background-image: url("/image/leafleet/arrow-left_000000_14.png");
        }

        .leaflet-control-navbar-home {
            background-image: url("/image/leafleet/home_000000_14.png");
        }


        .leaflet-control-navbar-fwd-disabled {
            background-image: url("/image/leafleet/arrow-right_bbbbbb_14.png");
        }

        .leaflet-control-navbar-back-disabled {
            background-image: url("/image/leafleet/arrow-left_bbbbbb_14.png");
        }

        .leaflet-control-navbar-home-disabled {
            background-image: url("/image/leafleet/home_bbbbbb_14.png");
        }


        #dataPanel {
            right: 5;
            top: 10px;
            /*font-family: tahoma;*/
        }

        #mapCol {
            height: 100%;
            /*width: 100%;*/
            width: 100%;
        }

        #PanelLeftDiv {
            height: 100%;
            width: 100%;
        }

        .header-bottom {
            right: 10px;
        }

        .header-bottom2 {
            right: 480px;
        }

        .transparent_class {
            /* Good browsers */
            opacity: 0.5;
            /*border: 1px solid red;*/
            display: block;
            opacity: 1;
            position: absolute;
            top: 10px;
            z-index: 10000000;
            border: none;
            background: #FFF;
            /*background: rgba(237, 245, 246, 0.46) none repeat scroll 0 0 !important;*/
            /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) !important;*/
            color: #fff;
        }

        .transparent_class2 {
            /* Good browsers */
            opacity: 0.5;
            /*border: 1px solid red;*/
            border-radius: 5px;
            display: block;
            opacity: 0.9;
            position: absolute;
            z-index: 10000000;
            background: rgba(174, 189, 255, 0.79) none repeat scroll 0 0 !important;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) !important;
            color: #0042c8;
        }

        #loading-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            display: none;
            align-items: center;
            background-color: #000;
            opacity: 0.5;
            z-index: 9999999999999;
        }

        .loading-icon {
            position: absolute;
            border-top: 21px solid #fff;
            border-right: 21px solid #fff;
            border-bottom: 21px solid #fff;
            border-left: 21px solid #767676;
            border-radius: 25px;
            width: 25px;
            height: 25px;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            margin-left: -20px;
            top: 50%;
            margin-top: -20px;
            z-index: 4;
            -webkit-animation: spin 1s linear infinite;
            -moz-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
        }

        @@-moz-keyframes spin {
            100% {
                -moz-transform: rotate(360deg);
            }
        }

        @@-webkit-keyframes spin {
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        .dropStyle {
            top: 18px !important;
            right: -22px !important;
            left: auto !important;
            padding-left: 17px !important;
        }

        .dropdown-item {
            font-size: 13px;
        }

        .leaflet-container a {
            color: #000;
            font-size: 15px;
            font-weight: bold;
        }

        .btn-warning {
            color: #212529;
            background-color: #ff6bf3;
            border-color: #8f0884;
        }
    </style>



    <script type="text/javascript">
        var alldata;
        var mapMarkers = []
        mapUrl = "http://10.226.144.73:83/api/gis/v1/tiles/";


        var map
        $(document).ready(function () {

           
            showmap()

        });

  
        function showmap() {


            map = L.map('mymap').setView([@ViewBag.lat,@ViewBag.lng], 7);


           L.control.navbar({ tileBaseUrl: "" }).addTo(map);

         

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
        }




    </script>

</head>
<body>
    <div class="container body-content">
        <div id="mymap">

        </div>

    </div>
</body>

</html>
