@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h1 class="display-4">Learn IOC  and StructureMap in Asp.net Core2</h1>
    <h1 class="display-4">Learn EF database First and Code fisrt together</h1>
    <h1 class="display-4">Learn Read data From setting in Asp.net core2 by IOC</h1>
    <h1 class="display-4"> Leaflet.js that  use google sateilte  as  tile layer</h1>


</div>
